# Data Cleaning

In [1]:
import pandas as pd

In [2]:
dataset = "geonames"

In [3]:
root_path = "/Users/dmarcous/myCode/thesis/data/" + dataset + "/"
input_path = root_path + "raw/"
output_path = root_path + "clean/"

In [4]:
input_name = input_path + "raw.csv"
input_df = pd.read_csv(input_name)
input_df['id'] = input_df.reset_index().index

/Users/dmarcous/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
selected_df = input_df[['id','longitude','latitude']]
print(selected_df.shape)

(11061987, 3)

In [6]:
clean_df = selected_df.dropna()
print(clean_df.shape)
clean_df.head(n=20)

(11061987, 3)

    id  longitude  latitude
0    0    1.53335  42.64991
1    1    1.74028  42.58765
2    2    1.47364  42.61203
3    3    1.73343  42.52535
4    4    1.73362  42.52915
5    5    1.61823  42.62568
6    6    1.73333  42.60000
7    7    1.45562  42.60172
8    8    1.47569  42.50692
9    9    1.44986  42.55003
10  10    1.48736  42.55327
11  11    1.67554  42.57165
12  12    1.57597  42.49766
13  13    1.48980  42.56068
14  14    1.49009  42.57512
15  15    1.56428  42.49829
16  16    1.48118  42.49922
17  17    1.44621  42.47935
18  18    1.60578  42.47611
19  19    1.44173  42.47552

In [7]:
clean_df.tail(n=10)

                id  longitude  latitude
11061977  11061977  -27.39334  16.29714
11061978  11061978  -24.58333  38.78333
11061979  11061979  139.84360  32.10410
11061980  11061980  122.20230  19.05498
11061981  11061981 -123.39513 -48.87697
11061982  11061982   51.15226  71.45453
11061983  11061983   34.23333  32.09661
11061984  11061984   88.18806  21.28917
11061985  11061985  166.08291 -17.73415
11061986  11061986   72.54389  14.17500

In [8]:
clean_df.shape

(11061987, 3)

In [9]:
clean_df['longitude'].dropna().shape

(11061987,)

In [15]:
print(clean_df['longitude'].max())
print(clean_df['longitude'].min())
print(clean_df['latitude'].max())
print(clean_df['latitude'].min())

180.0
-179.9836
90.0
-90.0

In [10]:
clean_df['latitude'].dropna().shape

(11061987,)

## Main

In [11]:
output_name = output_path + "output.csv"
clean_df.to_csv(output_name, index=False, header=False)